<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bao.xy.dao.AssetsMapper">

    <insert id="add" keyProperty="staff.id" useGeneratedKeys="true">
        INSERT INTO staff (work, name, user_name, password, powers, sex, age, phone)
        VALUES (#{staff.work}, #{staff.name}, #{staff.uname}, #{staff.pwd}, #{staff.powers}, #{staff.sex}, #{staff.age}, #{staff.phone})
    </insert>

    <update id="updt">
        update assets
        set work=#{staff.work}, name=#{staff.name}, user_name=#{staff.uname}, password=#{staff.pwd}, powers=#{staff.powers}, sex=#{staff.sex}, age=#{staff.age}, phone=#{staff.phone}
        where ( id = #{staff.id} )
    </update>

    <select id="paging" resultMap="assetResultMap">
        SELECT * FROM assets t1 <include refid="whereSql"></include>
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        SELECT count(*) FROM assets t1 <include refid="whereSql"></include>
    </select>

    <resultMap id="assetResultMap" type="bao.xy.model.Asset">
        <result column="asset_class" property="assetClass"></result>
        <result column="finance_id" property="financeId"></result>
        <result column="product_id" property="productId"></result>
        <result column="care_staff_id" property="careStaffId"></result>
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="assetClass != null and assetClass != ''">
                AND t1.asset_class LIKE CONCAT('%', #{assetClass}, '%')
            </if>
            <if test="state != null and state != ''">
                AND t1.state LIKE CONCAT('%', #{state}, '%')
            </if>
        </where>
    </sql>


</mapper>