<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>财务列表</title>

    <link href="./plug-ins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/current.css" rel="stylesheet">
    <style>
        .lh>tbody>tr>td {
            line-height: 33px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
<div id="box">
    <div class="panel panel-default">
        <div class="panel-heading">财务数据搜索界面</div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">凭证号</div>
                        <input type="text" class="form-control" placeholder="请输入凭证号" v-model="xPage.sd.proof">
                        <div class="input-group-addon">状态</div>
                        <input type="text" class="form-control" placeholder="请输入状态" v-model="xPage.sd.state">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" @click="xPage.getData(1)">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    搜索
                </button>
            </div>
        </div>
        <div class="panel-heading">财务数据操作界面</div>
        <div class="panel-body">
            <button type="button" class="btn btn-success" @click="addMod">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加
            </button>
            <button type="button" class="btn btn-danger" @click="xPage.delmore()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
            </button>
        </div>
    </div>
    <div id="show">
        <table class="table table-hover table-bordered lh" >
            <tr>
                <th>
                    <input type="checkbox" v-model="xPage.allId" @change="xPage.all()"> 全选
                </th>
                <th>编号</th>
                <th>员工编号</th>
                <th>凭证号</th>
                <th>入账时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr v-for="li in xPage.dataList">
                <td>
                    <input type="checkbox" :value="li.id" v-model="xPage.ids">
                </td>
                <td>{{li.id}}</td>
                <td>{{li.staffId}}</td>
                <td>{{li.proof}}</td>
                <td>{{li.entryDate}}</td>
                <td>{{li.state}}</td>
                <td>
                    <div class="btn-group  btn-group-xs" role="group">
                        <button type="button" class="btn btn-danger" @click="xPage.del(li.id, 'del')">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            删除
                        </button>
                        <button type="button" class="btn btn-warning" @click="updt(li)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            修改
                        </button>
                    </div>
                </td>
            </tr>
        </table>
        <div class="myNav navbar-fixed-bottom">
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li :class="{disabled: (xPage.pageIndex == 1)}" >
                        <a @click="xPage.upPage()" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="page in xPage.pageList" :class="{disabled: (xPage.pageIndex == page)}" >
                        <a @click="xPage.getData(page)" >{{page}}</a>
                    </li>
                    <li :class="{disabled: (xPage.pageIndex == xPage.pageMax)}" >
                        <a @click="xPage.nextPage()" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="pager-label" style="line-height: 34px">
                        &nbsp;第 <input type="text" v-model="xPage.pageIndex" style="width: 25px; height: 25px;" onchange="xPage.getData(xPage.pageIndex)"> / {{xPage.pageMax}} 页
                        每页 <input type="number" min="1" max="10" v-model="xPage.pageSize" style="width: 43px; height: 25px;" onchange="xPage.getData(1)"> 条数据 共{{xPage.dataCount}}项
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 添加财务模态框 -->
    <div class="modal" id="addfina" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加财务信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addform" action="/add" @submit.prevent="submit()" method="post" >
                        <div class="form-group">
                            <label for="proof" class="col-sm-3 control-label">凭证号:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="proof" readonly placeholder="请生成凭证号">
                                <div id="prof"></div>
                            </div>
                            <button type="button" id="proof" class="btn btn-primary col-sm-3" @click="form()" >生成凭证号</button>
                        </div>
                        <div class="form-group">
                            <label for="state" class="col-sm-3 control-label">状态:</label>
                            <div class="col-sm-8">
                                <select class="form-control" v-model="state" id="state">
                                    <option value="">未选择</option>
                                    <option value="可用">可用</option>
                                    <option value="销账">销账</option>
                                </select>
                                <div id="sta"></div>
                            </div>
                        </div>
                        <div class="modal-footer text-center" style="margin: auto; width: 150px;">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 更改财务模态框 -->
    <div class="modal" id="updtfina" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">更改财务信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" @submit.prevent="submit1()" >
                        <div class="form-group">
                            <label for="upstate" class="col-sm-3 control-label">状态:</label>
                            <div class="col-sm-8">
                                <select class="form-control" v-model="upstate" id="upstate">
                                    <option value="">未选择</option>
                                    <option value="可用">可用</option>
                                    <option value="销账">销账</option>
                                </select>
                                <div id="upsta"></div>
                            </div>
                        </div>
                        <div class="modal-footer text-center" style="margin: auto; width: 150px;">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./plug-ins/jq/jquery.min.js"></script>
<script src="./plug-ins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="./plug-ins/layer/layer.js"></script>
<script src="./plug-ins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="js/current.js"></script>
<script src="./js/finance.js"></script>
</body>
</html>
